@using Resources
@model InnonAnalytics.WebUI.Models.CustomizeLayoutViewModel


@using (Html.BeginForm("Edit_Customize_Dashboard_Layout", "DashBoard", Model, FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "frm_dashboard_layout", role = "form", enctype = "multipart/form-data" }))
{

    @Html.HiddenFor( m => m.Dashboard_Id);
    @Html.HiddenFor(m => m.Layout_Id);

    <script type="text/x-kendo-tmpl" id="template">
        <div >
            <img src="@Url.Content("~/content/images/layout/")#:Item1#.jpg" alt="#:Item2# image" />
            <h1>#:Item2#</h1>
        </div>
    </script>

    <div class="demo-section">
        @(Html.Kendo().ListView(InnonAnalytics.Common.Static_Resources.Tuples_DTO.Layout_Options)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .BindTo(InnonAnalytics.Common.Static_Resources.Tuples_DTO.Layout_Options)
    
    .Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))
  .Events(events => events.DataBound("Customize_layout_onDataBound").Change("Customize_layout_onChange"))
        )
    </div>
     <div class="form-group">
        <label class="control-label col-md-4 col-sm-4"></label>
        <div class="col-md-6 col-sm-6">
            <button type="button" id="btn_Update_Layout" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>
}

