<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--http://geekswithblogs.net/MarkPearl/archive/2012/01/30/log4net-basics-with-a-console-application-c.aspx-->
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

 


  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="IsDBlogging" value="true" />
    <add key="IsEmaillogging" value="true" />
    <add key="MailChimpAPIKey" value="d8bc7247bbffbe2ecfa7249a34d48715-us9" />
    <add key="MandrillAPIKey" value="gTU8cftf9AMrmbWFDUEtIw" />
    <add key="ToErrorEmail" value="muhammad@innon.co.uk,turchian@innon.co.uk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp  from="muhammad@innon.co.uk">
        <network host="smtp.gmail.com"
         port="587"
         userName="muhammad@innon.co.uk"
         password="0214580361"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>